


<div class="jumbotron">
  <h1>Welcome to Projector client</h1>
  <h2>Angular version</h2>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
</div>

<div class="row marketing">
  <h4>Hi,</h4>
  <p>
    welcome to this demo application, using AngularJS as front-end for projector project
  </p>

 <h3>Yeoman</h3>
  <p>...</p>

  <h3>Angular</h3>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h3>Karma</h3>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>





