<div id="requirementEdit">

    <!-- if editing requirement, display current data
         else we re creating a new one
    -->

    <h2>New requirement</h2>

    <form>

        <div class="formField">
            <label for="requirement.shortName">Short name</label>
            <input id="requirement.shortName" type="text" ng-model="requirement.shortName"/>
        </div>
        
        <div class="formField">
            <label for="requirement.name">Name</label>
            <input id="requirement.name" type="text" ng-model="requirement.name"/>
        </div>

        <div class="formField">
            <label for="requirement.description">Description</label>
            <textarea id="requirement.description" ng-model="requirement.description">
            </textarea>
        </div>

        <hr/>

        <button class="button" ng-click="gotoRequirementPage()">&lt; Cancel</button> &nbsp;
        <button class="button" ng-click="createRequirement()">Save</button>

    </form>

</div>
